In [ ]:
import pandas as pd
import numpy as np
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#printing english stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

Data preprocessing

In [ ]:
news_dataset=pd.read_csv('/content/train.csv',encoding="unicode_escape",error_bad_lines=False)

<ipython-input-180-269b9646b6ff>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  news_dataset=pd.read_csv('/content/train.csv',encoding="unicode_escape",error_bad_lines=False)
<ipython-input-180-269b9646b6ff>:1: DtypeWarning: Columns (0,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,544,545,546,547,548,549,550,551,552,553,554,555,557,558,559,560,562,563,567,568,569,570,571,572,573,575,576,577,578,579,580,582,583,584,586,587,588,589,590,591,593,594,595,596,597,598,599,600,602,603,604,605,606,608,609,610,611,613,614,615,616,618,619,620,622,623,624,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,676,677,678,679,680,681,682,684) have mixed types. Specify dtype option on import or set low_memory=False.
  news_dataset=pd.read_csv('/content/train.csv',encoding="unicode_escape",error_bad_lines=False)

In [ ]:
news_dataset.shape

(25116, 686)

In [ ]:
news_dataset.head()

,id,title,author,text,label,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 676,Unnamed: 677,Unnamed: 678,Unnamed: 679,Unnamed: 680,Unnamed: 681,Unnamed: 682,Unnamed: 683,Unnamed: 684,Unnamed: 685
0,0,House Dem Aide: We Didnât Even See Comeyâs...,Darrell Lucus,House Dem Aide: We Didnât Even See Comeyâs...,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# get the names of the columns to remove
columns_to_remove = news_dataset.columns[5:]

# drop the columns from the DataFrame
news_dataset = news_dataset.drop(columns=columns_to_remove)
news_dataset.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didnât Even See Comeyâs...,Darrell Lucus,House Dem Aide: We Didnât Even See Comeyâs...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [ ]:
#count missind val in each col
news_dataset.isnull().sum()

id           3
title     2250
author    4542
text      3079
label     3446
dtype: int64

In [ ]:
#DECIDED TO ignore missing value 
news_dataset=news_dataset.fillna(' ') #fill with null strings instead null val

In [ ]:
#verify
news_dataset.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [ ]:
#merge author and title to make pred
news_dataset['content']=news_dataset['author']+' '+news_dataset['title']
print(news_dataset['content'])
news_dataset.head()

0        Darrell Lucus House Dem Aide: We Didnât Even...
1        Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2        Consortiumnews.com Why the Truth Might Get You...
3        Jessica Purkiss 15 Civilians Killed In Single ...
4        Howard Portnoy Iranian woman jailed for fictio...
                               ...
25111    Jerome Hudson Rapper T.I.: Trump a âPoster C...
25112    Benjamin Hoffman N.F.L. Playoffs: Schedule, Ma...
25113    Michael J. de la Merced and Rachel Abrams Macy...
25114    Alex Ansary NATO, Russia To Hold Parallel Exer...
25115              David Swanson What Keeps the F-35 Alive
Name: content, Length: 25116, dtype: object

,id,title,author,text,label,content
0,0,House Dem Aide: We Didnât Even See Comeyâs...,Darrell Lucus,House Dem Aide: We Didnât Even See Comeyâs...,1,Darrell Lucus House Dem Aide: We Didnât Even...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Consortiumnews.com Why the Truth Might Get You...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,Jessica Purkiss 15 Civilians Killed In Single ...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Howard Portnoy Iranian woman jailed for fictio...

In [ ]:
#seperate data and label
X=news_dataset.drop(columns='label',axis=1)
Y=news_dataset['label']
print(X)
print(Y)

          id                                              title  \
0          0  House Dem Aide: We Didnât Even See Comeyâs...
1          1  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2          2                  Why the Truth Might Get You Fired
3          3  15 Civilians Killed In Single US Airstrike Hav...
4          4  Iranian woman jailed for fictional unpublished...
...      ...                                                ...
25111  20795  Rapper T.I.: Trump a âPoster Child For White...
25112  20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...
25113  20797  Macyâs Is Said to Receive Takeover Approach ...
25114  20798  NATO, Russia To Hold Parallel Exercises In Bal...
25115  20799                          What Keeps the F-35 Alive

                                          author  \
0                                  Darrell Lucus
1                                Daniel J. Flynn
2                             Consortiumnews.com
3                                Jessica Purkiss
4                                 Howard Portnoy
...                                          ...
25111                              Jerome Hudson
25112                           Benjamin Hoffman
25113  Michael J. de la Merced and Rachel Abrams
25114                                Alex Ansary
25115                              David Swanson

                                                    text  \
0      House Dem Aide: We Didnât Even See Comeyâs...
1      Ever get the feeling your life circles the rou...
2      Why the Truth Might Get You Fired October 29, ...
3      Videos 15 Civilians Killed In Single US Airstr...
4      Print \nAn Iranian woman has been sentenced to...
...                                                  ...
25111  Rapper T. I. unloaded on black celebrities who...
25112  When the Green Bay Packers lost to the Washing...
25113  The Macyâs of today grew from the union of s...
25114  NATO, Russia To Hold Parallel Exercises In Bal...
25115    David Swanson is an author, activist, journa...

                                                 content
0      Darrell Lucus House Dem Aide: We Didnât Even...
1      Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2      Consortiumnews.com Why the Truth Might Get You...
3      Jessica Purkiss 15 Civilians Killed In Single ...
4      Howard Portnoy Iranian woman jailed for fictio...
...                                                  ...
25111  Jerome Hudson Rapper T.I.: Trump a âPoster C...
25112  Benjamin Hoffman N.F.L. Playoffs: Schedule, Ma...
25113  Michael J. de la Merced and Rachel Abrams Macy...
25114  Alex Ansary NATO, Russia To Hold Parallel Exer...
25115            David Swanson What Keeps the F-35 Alive

[25116 rows x 5 columns]
0        1
1        0
2        1
3        1
4        1
        ..
25111    0
25112    0
25113    0
25114    1
25115    1
Name: label, Length: 25116, dtype: object

STEMMING

In [ ]:
port_stem=PorterStemmer()

In [ ]:
def stemming(content):
  stemmed_content=re.sub('[^a-zA-Z]',' ',content)
  stemmed_content=stemmed_content.lower()
  stemmed_content=stemmed_content.split()
  stemmed_content=[port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
  stemmed_content=' '.join(stemmed_content)
  return stemmed_content

In [ ]:
news_dataset['content']=news_dataset['content'].apply(stemming)

In [ ]:
print(news_dataset['content'])

0        darrel lucu hous dem aid even see comey letter...
1        daniel j flynn flynn hillari clinton big woman...
2                   consortiumnew com truth might get fire
3        jessica purkiss civilian kill singl us airstri...
4        howard portnoy iranian woman jail fiction unpu...
                               ...
25111    jerom hudson rapper trump poster child white s...
25112    benjamin hoffman n f l playoff schedul matchup...
25113    michael j de la merc rachel abram maci said re...
25114    alex ansari nato russia hold parallel exercis ...
25115                            david swanson keep f aliv
Name: content, Length: 25116, dtype: object

In [ ]:
#seperating data and label 
X=news_dataset['content']
Y=news_dataset['label']
print(X)
print(Y)

0        darrel lucu hous dem aid even see comey letter...
1        daniel j flynn flynn hillari clinton big woman...
2                   consortiumnew com truth might get fire
3        jessica purkiss civilian kill singl us airstri...
4        howard portnoy iranian woman jail fiction unpu...
                               ...
25111    jerom hudson rapper trump poster child white s...
25112    benjamin hoffman n f l playoff schedul matchup...
25113    michael j de la merc rachel abram maci said re...
25114    alex ansari nato russia hold parallel exercis ...
25115                            david swanson keep f aliv
Name: content, Length: 25116, dtype: object
0        1
1        0
2        1
3        1
4        1
        ..
25111    0
25112    0
25113    0
25114    1
25115    1
Name: label, Length: 25116, dtype: object

In [ ]:
#convert text to number
vectorizer=TfidfVectorizer()
vectorizer.fit(X)

X=vectorizer.transform(X)
print(X)
Y.shape

  (0, 17070)	0.2880854334390338
  (0, 14648)	0.24170537647240828
  (0, 9694)	0.36554380957366406
  (0, 9387)	0.29316509142349945
  (0, 8387)	0.25144197300521864
  (0, 7617)	0.21896464665093707
  (0, 5380)	0.22421109802197142
  (0, 4092)	0.27191930392178987
  (0, 3884)	0.3619018771847952
  (0, 3190)	0.2502144416754508
  (0, 2676)	0.36953309514559163
  (0, 294)	0.27111435953048824
  (1, 18279)	0.3003541536609625
  (1, 7407)	0.19377544595906765
  (1, 5954)	0.7141085899028712
  (1, 3850)	0.2655601620053946
  (1, 3036)	0.19465794276347997
  (1, 2405)	0.38195552426594254
  (1, 2043)	0.1603300078933037
  (1, 1617)	0.286840953274327
  (2, 16990)	0.4150660858123297
  (2, 10451)	0.4757873319489284
  (2, 6467)	0.3373308801281171
  (2, 5829)	0.3938520403026429
  (2, 3349)	0.4735061475862881
  :	:
  (25113, 14266)	0.23506540036371606
  (25113, 13422)	0.2660285928159704
  (25113, 13201)	0.2509263052625156
  (25113, 11195)	0.08589792606878598
  (25113, 10414)	0.17825077864203123
  (25113, 10332)	0.29781837839417263
  (25113, 9775)	0.36297051767207017
  (25113, 9104)	0.2255714735817004
  (25113, 7656)	0.22160059953446193
  (25113, 3932)	0.21371008348018836
  (25113, 1387)	0.33276594256516046
  (25113, 756)	0.3049345791879882
  (25113, 49)	0.2994740653748229
  (25114, 14187)	0.22678249995679425
  (25114, 12015)	0.43913659520232545
  (25114, 11057)	0.32229857515469124
  (25114, 7490)	0.3173446208314138
  (25114, 5445)	0.4106366484638114
  (25114, 1219)	0.4477091867359452
  (25114, 640)	0.3150505522876953
  (25114, 383)	0.28778802112656215
  (25115, 16164)	0.5778833559479472
  (25115, 8758)	0.44424508431121
  (25115, 3907)	0.3878802220711985
  (25115, 414)	0.5641330209353659

(25116,)

Train test split

In [ ]:
# from scipy.sparse import csr_matrix

# # Suppose X is a sparse CSR matrix and y is a Pandas Series
# X_csr = csr_matrix(X)
# X_dense = X_csr.toarray()

# Y = Y.astype('int')  # Convert the Pandas Series to an integer data type
# Split the data into training and test sets
#
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

Using Logistic Regression Model

In [ ]:
model=LogisticRegression()

In [ ]:

int_Y_train = []
expected_Y=[0,1]
for s in Y_train:
  if s:
    if(s!=0 or s!=1):
      int_Y_train.append(s)
    else:
      int_Y_train.append(1)
  else:
    int_Y_train.append(1)

In [ ]:
model.fit(X_train,int_Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Evaluation

In [ ]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,int_Y_train)

In [ ]:
print("Accuracy Score on training data:",training_data_accuracy)

Accuracy Score on training data: 0.9174795938682062

In [ ]:
int_Y_test = []
expected_Y=[0,1]
for s in Y_test:
  if s:
    if(s!=0 or s!=1):
      int_Y_test.append(s)
    else:
      int_Y_test.append(1)
  else:
    int_Y_test.append(1)

In [ ]:
#Accuracy of test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,int_Y_test)
print("Accuracy Score on Test data:",test_data_accuracy)

Accuracy Score on Test data: 0.8700238853503185

In [ ]:
X_new=X_test[0]
prediction=model.predict(X_new)
#print(prediction)
if(prediction[0]==0):
  print("The news is real by prediction")
else:
  print("The news is fake by prediction")

['0']
The news is fake

In [ ]:
if int_Y_test[0]==prediction[0]:
  print("Prediction and label mathches,Prediction is right")
else:
  print("Prediction and label not matching.So Wrong prediction!!")

Prediction and label mathches,Prediction is right

In [3]:
!git remote add origin https://aslaahtp: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@github.com/aslaaahtp/
ML_fake_news.git

fatal: not a git repository (or any of the parent directories): .git

NameError: ignored